@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,400;1,700&family=Roboto:ital,wght@0,300;0,500;0,700;1,400&display=swap');
*{
    font-family: 'Cabin', sans-serif;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    

    
}
h1, h2, h3, h4, h5, h6, span {
    color:rgb(6, 0, 9);
    text-align: center;
    line-height: 1.25; 
}
h1{
    font-size: 28px;
    margin-bottom: 20px;
}
p {
    line-height: 1.5;
    font-size: 16px;
}
li {
    list-style: none;
}
.flex {
    display: flex;
}
.flex-1 {
   flex: 1;
   
}
.row {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}
.text--purple {
    color:rgb(97, 4, 143) ;
}

/*NAVIGATION BAR*/

nav {
    height:100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__link--list {
display: flex;
}
.nav__link--anchor {
    margin: 0 12px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: black;
    
}
.personal__logo {
    color: rgb(97, 4, 143);
    font-size: 24px;
    margin: 0 12px;
    font-weight: bold;
}
.nav__link--anchor-primary {
    background-color: #6030b1;
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    transition: all 300ms ease;
    
}
.nav__link--anchor-primary:hover {
    background-color:blueviolet;
}

/*ABOUT ME*/

#about-me {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.about-me__info--title{
    color: black;
}
.about-me__info--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}
.about-me__picture--mask {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 8px rgba(0, 0 ,0 , 0.08);
    margin-bottom: 28px;  
    
}
.about-me__picture {
    width: 100%;
    
}
.about-me__info--para {
    font-size: 15px;
    margin-bottom: 28px;
}
.about-me__links {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    margin: 0 10px;
    
    
}

.about-me__link {
    color: #000;
    font-size: 40px;
    padding: 0 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-me__img--container{
    flex:1;
    display: flex;
    align-items: center;
}
.about-me__img{
    width: 100%;
    padding-top: 70px;
    padding-bottom: 70px;
}

/* Tech - Stack */
#languages {
    width: auto;
    background-color:#dbdbdb;
    min-width: 750px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
}

.language__img {
    display: flex;
    width: 750px;
    max-width: 100px;
    flex-wrap: wrap;
    justify-content: row;
}
.language__img:hover {
    filter: brightness(80%);
    opacity: 0.86;
    transform: scale(0.9);

}
.languages {
    width: 25%;
    
     
}
.language__img--wrapper {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 16px;
}
.language__list{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

/* Projects */
#projects {
    max-width: 750px;    
    display: flex;
    
}

.project {
    display: flex;
    flex-direction: column;
}
.project__list {
    width: 100px;
    
}
.project__img--wrapper {
    width:10px;
    
}
.project__img {
    width: fit-content;
}